body {
    background: rgb(156, 153, 153);
}

.tituloIdeias {
    $text-color: #007bff;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tituloIdeias .p {
    text-align: right;
}


.addIdeias {
    background: #ff5e84;
    
}

.VerIdeias {
    background: white;
    font-weight: bold;
}

.rodape a {
    color: #2528b2;
    text-decoration: none;
}

.hide {
    display: none;
}
